<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to our {{ title }} Page</h1>
    {% block  content %}
    {% with  messages = get_flashed_messages%}
        {%if messages%}
            {%for message in messages %}
                <div>{{ message }}</div>

            {%endfor%}
        {%endif%}
    {% endwith %}
    {% endblock  content %}
</body>
</html>